---
layout: default
sitemap:
priority: 1.0
changefreq: weekly
lastmod: 2014-07-07T16:57:30+05:30
---
<!-- Posts -->
<ul id="posts">

	{% for post in paginator.posts %}

	  <li class="post">
	  	<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a></h2>
	  	<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time>
			{% if post.mixcloud %}
			<iframe width="100%" height="60" src="{{ post.mixcloud }}" frameborder="0" ></iframe>
			{% elsif post.promo %}
				<a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">
					<img src="{{ site.url }}/img/promo/{{ post.promo }}.png" frameborder="0" style="width:100%;"></img>
				</a>
				<p>{{ post.desc }}</p>
			{% elsif post.promo %}
				<p>{{ post.desc }}</p>
			{% else %}
				<p>{{ post.content | strip_html | truncatewords:50 }}</p>
			{% endif %}
		</li>

		{% endfor %}

</ul>
