<header>
  <h2 class="site-title"><a href="/">{{ site.name }}</a></h2>
  <h3 class="site-description">{{ site.description }}<span id="narcissism"></span></h3>
   <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/about.html"><i class="fa fa-info-circle"></i>About</a></li>
        <li><a href="https://github.com/untra"><i class="fa fa-github-square"></i>Github</a></li>
        <li><a href="https://untra.github.io/polyglot"><i class="fa fa-comment-o"></i>Polyglot</a></li>
        <li><a href="http://cufcq.com"><i class="fa fa-area-chart"></i>CUFCQ</a></li>
      </ul>
    </div>
  </nav>
</header>
